.chat-container-screen > div {
    width: 100%;
    height: 420px;
    background-image: url('../../images/double-bubble-bg.png');
    background-size: cover;
    position: static;
}

@media screen and (max-width: 842px) {
    .chat-container-screen {
        width: 100%;
        height: 420px;
        background-image: url('../../images/double-bubble-bg.png');
        background-size: cover;
        position: static;
    }
}